---
import { FaLink } from "react-icons/fa";

export interface Props {
	href: string;
	className?: string;
}

const { href, className } = Astro.props;
---

<a href={href} class=`text-primary underline ${className}`>
    <div class="flex flex-row items-baseline">
        <FaLink className="mr-4"/>
        <slot><p class="inline-block">{href}</p></slot>
    </div>
</a>