---
import TimeLineElement from "@components/cv/TimeLine.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { CONTACT_EMAIL } from "src/config";

const age = Math.floor(
	(Date.now() - new Date("2004-07-16").getTime()) /
		(1000 * 60 * 60 * 24 * 365.25),
);
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Jorge Harrisonn, I am a {age} years old Computer Science student at the University of São Paulo (USP) who is passionate about technology and programming. 
    <br />
    As a self-taught, I started learning programming at the age of 12 by my self at home with my old laptop and a 1 Mbps internet connection. Since then, I've learnt a lot of different technologies and concepts. This helped me a lot to be able to learn new stuff quickly.
    <br />
    You can email me <a href=`mailto:${CONTACT_EMAIL}` class="text-accent">&lt;{CONTACT_EMAIL}&gt;</a>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technician in Industrial Automation"
      subtitle="2019 to 2021 at Espirito Santo's Federal Institute of Education, Science and Technology (IFES), Linhares - ES, Brazil"
    />
    <TimeLineElement
      title="Undergraduate in Computer Science"
      subtitle="2022 to present at Institute of Mathematics and Statistics of the University of São Paulo (IME-USP), São Paulo - SP, Brazil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Dev at BikeSP - USP"
      subtitle="From February, 2024 to September, 2024"
    >
      I've received a scholarship to work as a developer at BikeSP, a project from the University of São Paulo that aims to test the availability of a public program to encourage the use of bicycles in the city of São Paulo.
      <br />
      I've done a lot of different tasks, mainly in the react-native Android application, but also in the project organization and documentation. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Git</li>
    <li>Docker</li>
    <li>Rust</li>
    <li>JS/TS</li>
    <li>Python</li>
    <li>Web</li>
    <li>Database</li>
    <li>Kotlin</li>
    <li>Shell</li>
    <li>Functional Programming</li>
  </ul>
</BaseLayout>
